# Please read carefully before editing, and especially removing lines:
# https://docs.npmjs.com/misc/developers#keeping-files-out-of-your-package
test/
examples/
coverage/
docker/
doc/
.*
*.pid
*.log
HOW_TO_RELEASE.md
